.btn {
    border: solid 1px #ddd;
    background-color: #6F8FAF;
    padding: 6px 12px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: #333;
    font-family:'Oxygen';
  }
  
  .btn:hover {
    background-color: rgb(206, 234, 247);
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn.Yes:hover {
    background-color: red;
    color: #fff;
  }
  
  .btn.No:hover {
    color: #fff;
    background-color: #009879;
  }