.banner {
background-image: url("https://static.winamax.fr/img/content/tournaments/xmas_party_post_facebook_1200x630.png");
align-items: center;
justify-content: center;
position: relative;
width: 80%;
height: 500px;
padding: 45px;
margin-left: 90px;
border-radius: 15px;
background: cover;
}

.join {
color: black;
background-color: white;
width: 350px;
height: 50px;
border-radius: 40px;
font-family: 'Bradley Hand';
font-size: 28px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
cursor: pointer; 
margin-top: 5px;
}

.heading {
display: flex;
    /* justify-content: flex-end;
    justify-content: space-between; */
    align-items: baseline;
font-family: 'Bradley Hand';
color: red;
margin: 10px;
}