.Container {
    background-color: #eee;
    display: flex;
    justify-content: flex-end;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
    width: 100%;
}

.nav-bar {
    background-color: #eee;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;

}

.Logo {
  color: red;
  font-family: 'Bradley Hand';
  font-size: 26px;
  font-weight: 500;
    margin-bottom: 5px;
margin: 10px;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: rgb(247, 243, 243);
    margin: 0 14px;
  }
  
  .nav-bar a:hover {
    color: #000;
  }

  .button {
    background: #7393B3;
    border: solid 2px #6F8FAF;
    padding: 6px 24px;
    color: #ffffff;
    border-radius: 4px;
    font-family:'Oxygen';
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.02rem;
    margin: 5px;
    font-weight: 600;
  }

  